@font-face {
    font-family: "Levi";
    src: url(LEVIBRUSH.TTF);
}

header {
    padding: 25px 5px 5px 5px;
    margin-bottom: 20px;
}
p, h1 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    margin: 10px 0;
}

h1 {
    font-size: 60px;
}

p{
    font-size: 35px;
}

.row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
}

textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
}

.description{
    white-space: pre-wrap;
}

.time-block{
    text-align: center;
    border-radius: 15px;
}

.row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
}

.hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px solid #000000;
    font-weight: bold;
}

.past {
    background-color: #d3d3d3;
}

.present {
    background-color: red;
    color: WHITE;
}

.future {
    background-color: lightgreen;
}

.saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
}

.saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
}

.fas {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 40%;
    left: 40%;
}